[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
neo4j = "*"
python-dotenv = "*"
neomodel = "*"
pytest = "*"
py2neo = "*"

[dev-packages]

[requires]
python_version = "3.8"
